html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll; 
}
body {
  margin-bottom: 60px;
  padding-top: 70px;
/*background-color: gold yellowgreen cornflowerblue;+*/
}
/*bodybackground*/
.bb {
    background: linear-gradient(
    to right, 
    #F59127 0%, 
    #F59127 25%,
    #5D9FD1 25%,
    #5D9FD1 75%,
    #AFBA1D 75%, 
    #AFBA1D 100%
  );
    opacity: 0.55;
    position: absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bb::after {
     content: "hhh";
   background-image: url("hohentor_sil.jpg");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 40%;
    background-position: bottom right;
    opacity: 0.1;
    bottom: 0;
    left: 0;
   min-height: 100%;
   min-width: 100%;
  position: absolute;
  z-index: 0;
    }

.navbar-fixed-bottom {
    min-height: 20px;
    max-height: 20px;
}
.navbar-brand-bottom {
    line-height: 20px;
    height: 20px;
    padding-top: 0;
}

.navbar-brand-bottom a {
    font-size: 10px !important;
}

.navbar-fixed-bottom .navbar-nav li a {
    line-height: 20px;
    height: 20px;
    padding-top: 0;
    font-size: 10px;
}

.navbar-fixed-top {
    background-image: url("hohentor_sil_b_g.jpg");
    background-repeat: no-repeat;
    background-size: cover   ;
    background-position: right top;
    
}

.navbar-fixed-bottom {
    background-image: url("hohentor_sil_b_g.jpg");
    background-repeat: no-repeat;
    background-size: 7%   ;
    background-position: right top;
    
}

table {
    background: #47484B  20%;
    color: #F7F7F7;
    border: 3px solid #2D2E30 !important;
    box-shadow: 10px 10px black;
    font-size: 0.8em;
}


.table-responsive{
    width: 100%;
    empty-cells: hide;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: white;
  color: black;
}

.table-hover tbody tr:active td, .table-hover tbody tr:active th {
  content: "yes";
  background-color: red;
  color: blue;
}



.table-hover tbody tr:active ~ tr, .table-hover tbody tr:active ~ tr {
  background-color: yellow;
  color: green;
}

thead tr {
    border: 3px solid #2D2E30;
    font-family: 'Press Start 2P', cursive;
    color: gold;
}

td {
    padding: 0 !important;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #2D2E30;
    empty-cells: hide;
    text-align: center; 
}

.jumbotron {
    position: relative;
     font-family: sans-serif;
    
}

.jumbotron::after {
     content: "";
   background-image: url("wappen.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: 100% 78% ;
      opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
    }

p { margin: 0;
    padding: 0;}

.ev{
    z-index: 1;
}
.ev > label {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.ev > input {
    display: none;
}
.see {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
}
.see > p{
    border-radius: 3px;
    border: 1px solid #000001 !important;
}

.desc {
    display: none;
    text-align: left;
}
.ev > input:checked ~ .desc {
    display: block;
}


.evtitle {
  margin: 0;
  column-count: 3; 
  text-align: center;
  width: 100%;
  min-height: 100%;
}
.brk{
	break-after: column;
    text-align: center;
}
.thwhen {
    padding-right: 1em;
    padding-left: 1em;
/*    box-shadow: inset -3px -4px 5px darkgrey;
    */}
.thwhat {
    width: 100%;
   text-align: center; 
}
.thwhere {
    padding-left: 1em;
    padding-right: 1em;
}

@media only screen and (max-width: 500px) {
.what {
    padding-left: 1em;
}
}

.date  {
width: fit-content(300px);
    font-family: 'Press Start 2P', cursive;
    color: black;
     background: gold  20%;
    border: 3px solid #2D2E30 !important;
    box-shadow: 10px 10px black;
}
